#############################################
# RocksDB Store configuration
#############################################

[store."rocksdb"]
type = "rocksdb"
path = "%{BASE_PATH}%/data"

[store."rocksdb".settings]
min-blob-size = 16834
write-buffer-size = 134217728

#[store."rocksdb".pool]
#workers = 10

[store."rocksdb".purge]
frequency = "0 3 *"
