#############################################
# SQL Directory configuration
#############################################

[directory."sql"]
type = "sql"
store = "sqlite"

[directory."sql".options]
catch-all = true
#catch-all = { map = "(.+)@(.+)$", to = "info@${2}" }
subaddressing = true
#subaddressing = { map = "^([^.]+)\.([^.]+)@(.+)$", to = "${2}@${3}" }

[directory."sql".cache]
entries = 500
ttl = {positive = '1h', negative = '10m'}

[directory."sql".columns]
type = "type"
secret = "secret"
description = "description"
quota = "quota"
